base_model: NousResearch/Meta-Llama-3-8B-Instruct
model_type: AutoModelForCausalLM
tokenizer_type: AutoTokenizer
model_params_count: 0

load_in_8bit: false
load_in_4bit: false
strict: false

chat_template: llama3
datasets:
dataset_prepared_path:
val_set_size: 0.1
output_dir: miner_id_24

sequence_len: 512
sample_packing: false
eval_sample_packing: false
pad_to_sequence_len: true
trust_remote_code: true
gpu_memory_limit: 80GiB

adapter: lora
lora_model_dir:
lora_r: 64
lora_alpha: 128
lora_dropout: 0.0
lora_target_linear: true
lora_mlp_kernel: true
lora_qkv_kernel: true
lora_o_kernel: true

auto_find_batch_size: true
gradient_accumulation_steps: 4
micro_batch_size: 4
optimizer: adamw_8bit
lr_scheduler: cosine
learning_rate: 2e-4
group_by_length: true

train_on_inputs: false
bf16: true
fp16: false
tf32: false

gradient_checkpointing: true
resume_from_checkpoint:
local_rank:
logging_steps: 5
flash_attention: true
s2_attention:

wandb_project: Gradients-On-Demand
wandb_mode: online
wandb_run: your_name
wandb_runid: default

hub_model_id:
hub_repo:
hub_strategy: checkpoint
hub_token:

early_stopping_patience: 3
load_best_model_at_end: true
metric_for_best_model: eval_loss
greater_is_better: false
eval_strategy: steps
save_steps: 40
eval_steps: 20
warmup_steps: 150
eval_max_new_tokens: 128
max_steps: 2500

debug:

deepspeed: /workspace/axolotl/configs/deepspeed_stage1.json
  
weight_decay: 0.01
plugins:
  - axolotl.integrations.liger.LigerPlugin
liger_rope: true
liger_rms_norm: true
liger_glu_activation: true
liger_layer_norm: true
liger_fused_linear_cross_entropy: true


